/* Общие стили для всего приложения */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f9f9; /* Светлый фон */
    color: #333; /* Темный текст */
    margin: 0;
    padding: 10px 50px 10px 50px;
}

/* Заголовки */
h1, h2, h3 {
    color: #00796b; /* Бирюзовый цвет */
    margin-bottom: 15px; /* Отступ снизу */
}

/* Контейнеры */
.container {
    max-width: 1200px; /* Максимальная ширина */
    margin: 20px auto; /* Центрирование с отступом сверху и снизу */
    padding: 20px;
    background-color: #ffffff; /* Белый фон для контейнеров */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
}

/* Кнопки */
button {
    background-color: #009688; /* Бирюзовый цвет кнопки */
    color: white; /* Белый текст */
    border: none; /* Без границы */
    border-radius: 4px; /* Закругленные углы */
    padding: 12px 20px; /* Отступы */
    margin: 10px; /* Отступы между кнопками */
    cursor: pointer; /* Указатель курсора */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

button:hover {
    background-color: #00796b; /* Темный бирюзовый при наведении */
}

button:disabled {
    background-color: #b0bec5; /* Серый цвет для отключенной кнопки */
    cursor: not-allowed; /* Указатель курсора для отключенной кнопки */
}

/* Активная кнопка для выбранного типа пользователя */
.active-button {
    background-color: #004d40; /* Темный бирюзовый для активной кнопки */
}

/* Стили для карточек услуг и запросов */
.card {
    background-color: #e0f2f1; /* Светлый бирюзовый фон */
    margin: 15px 0; /* Отступы между карточками */
    padding: 20px; /* Отступы внутри карточек */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Тень */
}

/* Стили для списка */
ul {
    list-style-type: none; /* Убрать маркеры списка */
    padding: 0; /* Убрать отступы */
}

li {
    margin: 10px 0; /* Отступы между элементами списка */
}

/* Стили для форм */
input, textarea, select {
    width: calc(100% - 20px); /* Ширина на всю доступную ширину с учетом отступов */
    max-width: 300px;
    padding: 10px; /* Отступы внутри полей */
    margin: 15px 5px; /* Отступы между полями */
    border: 1px solid #b0bec5; /* Серый цвет границы */
    border-radius: 4px; /* Закругленные углы */
}

input:focus, textarea:focus, select:focus {
    border-color: #009688; /* Бирюзовый цвет границы при фокусе */
    outline: none; /* Убрать контур */
}

/* Сообщения об ошибках */
.error {
    color: #f44336; /* Красный цвет для сообщений об ошибках */
    margin: 10px 0; /* Отступы */
}

/* Успешные сообщения */
.success {
    color: #4caf50; /* Зеленый цвет для успешных сообщений */
    margin: 10px 0; /* Отступы */
}

/* Flexbox для центрирования контента */
.flex-container {
    display: flex; /* Flexbox для выравнивания */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    margin: 20px 0; /* Отступы сверху и снизу */
}



/* Общие стили */
.services-container {
    display: flex; /* Горизонтальное размещение услуг */
    flex-wrap: wrap; /* Перенос на новую строку при нехватке места */
}

.service-box {
    border: 1px solid #ccc; /* Светлая рамка */
    border-radius: 8px; /* Скругленные углы */
    padding: 16px; /* Внутренний отступ */
    margin: 8px; /* Внешний отступ */
    flex: 1 1 100px; /* Разрешаем изменение размера */
    text-align: center; /* Центрируем текст */
    cursor: pointer; /* Указатель курсора */
    transition: background-color 0.3s; /* Плавный переход цвета */
}
.service-box:hover {
    background-color: #9ef3a0; /* Зеленый цвет при наведении */
}
/* Стили для выбранной услуги */
.service-box.selected {
    background-color: #4CAF50; /* Зеленый цвет при выборе */
    color: white; /* Белый текст */
}

/* Стили для списка организаций */
.organization-item {
    display: flex; /* Используем flexbox для выравнивания */
    padding: 8px; /* Внутренний отступ */
    border-bottom: 1px solid #ccc; /* Рамка снизу */
    cursor: pointer; /* Указатель курсора */
    transition: background-color 0.3s; /* Плавный переход цвета */
    width: 100%;
    border-radius: 8px; /* Скругленные углы */
}

/* Стили для выделенной строки */
.organization-item.selected {
    background-color: #4CAF50; /* Зеленый цвет при выборе */
    color: white; /* Белый текст */
}

/* Стили для выделенной строки при наведении */
.organization-item.hovered {
    background-color: #c0c0c0; /* Светлый фон при наведении */
}

.organization-item-content {
    display: flex;
    justify-content: flex-start; /* Выравнивание элементов по левому краю */
    width: 100%;
}

.organization-item-content span {
    flex-shrink: 0;
    text-align: left;
}

/* Первая колонка */
.organization-item-content span:nth-child(1) {
    flex-basis: 25%; /* Ширина четверти контейнера */
}

/* Вторая колонка */
.organization-item-content span:nth-child(2) {
    flex-basis: 25%; /* Ширина четверти контейнера */
}

/* Третья колонка */
.organization-item-content span:nth-child(3) {
    flex-basis: 50%; /* Ширина половины контейнера */
}










/* Стили для временных слотов */
.disabled {
    background-color: #ccc !important; /* Серый цвет для занятых слотов */
    cursor: not-allowed !important; /* Указатель курсора для недоступных элементов */
}

/* Стили для модальных окон */
.confirmation-modal,
.time-slots-modal {
    position: fixed; /* Фиксируем на экране */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
    color: white; /* Белый текст */
    display: flex; /* Используем flexbox */
    flex-direction: column; /* В столбик */
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    z-index: 1000; /* Выше других элементов */
}

/* Кнопки в модальных окнах */
.confirmation-modal button,
.time-slots-modal button {
    margin: 10px; /* Отступ между кнопками */
    padding: 10px 20px; /* Внутренний отступ кнопок */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Скругляем углы кнопок */
    cursor: pointer; /* Указатель курсора */
    background-color: #4CAF50; /* Цвет кнопок */
    color: white; /* Белый текст кнопок */
}

/* Стиль для закрытия модальных окон */
.close-modal {
    position: absolute; /* Абсолютное позиционирование */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    background: none; /* Без фона */
    border: none; /* Без рамки */
    color: white; /* Белый цвет */
    font-size: 24px; /* Размер шрифта */
    cursor: pointer; /* Указатель курсора */
}

/* Стиль для ввода поиска */
input[type="text"], input[type="number"], select {
    width: 100%; /* Ширина 100% */
    padding: 10px; /* Внутренний отступ */
    margin-bottom: 20px; /* Отступ снизу */
    border: 1px solid #ccc; /* Светлая рамка */
    border-radius: 5px; /* Скругленные углы */
}
input[type="number"] {
    width: 93%;
}